<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">



    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>


    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

</div>


<h1 th:text="${#strings.capitalizeWords(title)}"></h1>
<div th:if="${jobs} and ${jobs.size()}" th:fragment="jdisplay">


    <table th:if="${jobs} and ${jobs.size()}" th:each="job : ${jobs}" class="job-listing">
        <tr>
            <td><p>Position Type</p></td>
            <td th:text ="${job['position type']}"></td>
        </tr>
        <tr>
            <td><p>Position Name</p></td>
            <td th:text ="${job.name}"></td>
        </tr>
        <tr>
            <td><p>Location</p></td>
            <td th:text ="${job.location}"></td>
        </tr>
        <tr>
            <td><p>Employer</p></td>
            <td th:text ="${job.employer}"></td>
        </tr>
        <tr>
            <td><p>Required Skills</p></td>
            <td th:text ="${job['core competency']}"></td>
        </tr>
        <hr/>
    </table>

</div>

</body>
</html>